body {
    font-family: 'Arial', sans-serif;
  }
  
  header {
    background-color: #333;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  }
  
  header img {
    border: 5px solid white;
    margin: 20px;
    display: none; /* hide image on desktop */
  }
  
  h1, h2 {
    font-weight: bold;
  }
  
  nav.navbar-nav.nav-link {
    color: #fff!important;
  }
  
  .card {
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: whitesmoke;
    border: none;
  }
  
  .card img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
  }
  
  .card-title {
    color: #002fff99;
  }
  
  footer {
    background-color: #343a40;
  }
  
  footer p {
    margin: 0;
  }
  
  @media (max-width: 768px) {
    .card img {
      margin-bottom: 20px;
    }
    header img {
      display: block; /* show image on mobile */
    }
  }
  
  .project-item {
    position: relative;
    overflow: visible;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .project-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
  }
  

  
  .project-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  }